trigger:
  - main

stages:
  - stage: RunTest
    displayName: "Run Tests"
    jobs:
      - job: RunTest
        variables:
          npm_config_cache: $(Pipeline.Workspace)/.npm
        displayName: "Run unit tests"
        pool:
          vmImage: "ubuntu-18.04"
        steps:
          - checkout: self
            persistCredentials: true
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | functions/package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)"
              path: $(npm_config_cache)
            displayName: Cache npm
          - script: |
              cd functions;
              npm ci
              npm install -g firebase-tools
          - script: |
              cd functions;
              npm run build
              cd ..
          - script: |
              cd functions;
              npm run lint
              cd ..
          - script: |
              cd functions/;
              firebase emulators:exec --project=sample 'npm run test'